<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Мой сайт{% endblock %}</title>
    <!-- <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css"
    > -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.4/css/bulma.min.css"
    >
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <style>
    </style>
</head>
<body>
    <!-- Шапка -->
      <nav class="navbar is-light">
        <div class="container is-fluid">
          <div class="navbar-brand">
            <a class="navbar-item" href="#">
              <h1 class="title">FreeTask</h1>
            </a>
          </div>

          <div class="navbar-start">
            <a href="{% url 'dashboard' %}" class="navbar-item">
              Доска
            </a>
            <a href="{% url 'tasks' %}" class="navbar-item">
              Задачи
            </a>
            <a href="{% url 'schedule' %}" class="navbar-item">
              Расписание
            </a>
            <a href="{% url 'statistics' %}" class="navbar-item">
              Статистика
            </a>
            <a href="{% url 'statistics' %}" class="navbar-item">
              
              <span class="icon-text">
                <span>Публичные задачи</span>
                <span class="icon">
                  <ion-icon name="search-outline"></ion-icon>
                </span>                
              </span>

            </a>
          </div>
          
          <div class="navbar-end">
            <div class="navbar-item is-hoverable">
              <a class="navbar-link">                
                <strong>{{ request.user.username }}</strong>
              </a>

              <div class="navbar-dropdown">
                <a href="{% url 'profile' %}" class="navbar-item">
                  Профиль
                </a>
                <a href="{% url 'settings' %}" class="navbar-item">
                  Настройки
                </a>
                
                <hr class="navbar-divider">
                <div class="navbar-item">
                  <form method="post" action="{% url 'logout' %}">
                      {% csrf_token %}
                      <button type="submit" class="button">Выйти</button>
                  </form>
                </div>
              </div>
            </div>

            <div class="navbar-item">
              <img class="is-rounded" src="/media/{{ request.user.avatar }}" alt="Image" />
            </div> 
          </div>
        </div>
      </nav> 
    

    <!-- Основное содержимое -->
    
        {% block content %}{% endblock %}
   

    <footer class="footer">
      <div class="content has-text-centered">
        <p>
          <strong>FreeTask</strong> by <a href="">Kukolschikov Egor</a>.
        </p>
      </div>
    </footer>  
</body>
</html>