<!DOCTYPE html>
<html lang="en" data-theme="light" class="theme-light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Мой сайт{% endblock %}</title>
    
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css"
    >
    <!-- <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.4/css/bulma.min.css"
    > -->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>

    <script type="text/javascript">
      document.addEventListener('DOMContentLoaded', () => {
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Строгое сравнение: "csrftoken="
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        if(document.getElementById('task-table')){ 
          new Sortable(document.getElementById('task-table'), {
            animation: 150,
            handle: 'td', // можно настроить, если хочешь тянуть за конкретный столбец
            onEnd: function (evt) {
              const order = [];
              document.querySelectorAll('#task-table tr').forEach(row => {
                order.push(row.id);
              });

              fetch('/tasks/tasks/reorder/', {
                method: 'POST',
                headers: {
                  'X-CSRFToken': getCookie('csrftoken'),
                  'Content-Type': 'application/json'
                },
                body: JSON.stringify({task_ids: order})
              });
            }
          });
        }

        
        function clearModal($el){
            console.log($el.id)
            
              // заголовок
              $el.querySelector('h1').innerHTML ='Создать задачу';
              $el.querySelector('button').innerHTML ='Создать';

              $el.querySelectorAll('input').forEach(item => {

                // название задачи
                if (item.name == 'title'){
                  item.value = '';
                }

                // крайний срок
                if (item.name == 'deadline'){                
                  item.value = '';
                }

              });

              // форма
              $el.querySelector('form').action = '';

        }

        // Functions to open and close a modal
        function openModal($el) {
          $el.classList.add('is-active');
          document.getElementById('id_title').focus();
        }

        function closeModal($el) {
          
          if($el.id == "modal-js-example"){
            clearModal($el);
          }
          $el.classList.remove('is-active');
        }

        function closeAllModals() {
          (document.querySelectorAll('.modal') || []).forEach(($modal) => {
            closeModal($modal);
          });
        }

        // Add a click event on buttons to open a specific modal
        (document.querySelectorAll('.js-modal-trigger') || []).forEach(($trigger) => {
          const modal = $trigger.dataset.target;
          const $target = document.getElementById(modal);

          $trigger.addEventListener('click', () => {
            openModal($target);
          });
        });

        // Add a click event on various child elements to close the parent modal
        (document.querySelectorAll('.modal-background, .modal-close, .modal-card-head .delete, .modal-card-foot .button') || []).forEach(($close) => {
          const $target = $close.closest('.modal');

          $close.addEventListener('click', () => {
            closeModal($target);
          });
        });

        // Add a keyboard event to close all modals
        document.addEventListener('keydown', (event) => {
          if(event.key === "Escape") {
            closeAllModals();
          }
          if(event.ctrlKey && event.key === 'n'){
            console.log('new task');
            openModal(document.getElementById('modal-js-example'));
          }
        });

        // Add a click event on buttons to open a specific modal
        (document.querySelectorAll('.js-modal-edit') || []).forEach(($trigger) => {

          const modal = $trigger.dataset.target;
          const $target = document.getElementById(modal);

          const url = $trigger.getAttribute('href');
          const title = $trigger.dataset.title;
          const deadline = $trigger.dataset.deadline.replace(' ','T');

          $trigger.addEventListener('click', () => {            
            console.log(url)
            // заголовок
            $target.querySelector('h1').innerHTML ='Редактирование задачи';
            $target.querySelector('button').innerHTML ='Сохранить';

            $target.querySelectorAll('input').forEach(item => {

              // название задачи
              if (item.name == 'title'){
                item.value = title;
              }

              // крайний срок
              if (item.name == 'deadline'){
                //item.value = '2025-04-18T10:00';
                item.value = deadline;
              }

            });

            // форма
            $target.querySelector('form').action = url;

            openModal($target);

          });
        });

        // open and close menu burger
        (document.querySelectorAll('.navbar-burger') || []).forEach(($trigger) => {
          const $menu = document.getElementById('navbarBasicExample');

          $trigger.addEventListener('click', () => {
            console.log('3121');

            if($menu.style.display === 'none' || $menu.style.display === ''){
              $menu.style.display = 'block';
            }else{
              $menu.style.display = 'none';
            }
          });
        });

        // open and close settings task
        (document.querySelectorAll('.button_display') || []).forEach(($trigger) => {
          console.log($trigger.dataset.target)
          const $panel = document.getElementById($trigger.dataset.target);
          $trigger.addEventListener('click', () => {
            console.log($panel);

            if($panel.classList.contains('visibilityBlock')){
              console.log('1111')
              
              $panel.classList.remove('visibilityBlock');
            }else{
              console.log('2222')
              
              $panel.classList.add('visibilityBlock');
            }
          });
        });
          



      });
    </script>
    <style>
    </style>
</head>
<body>
    <!-- Шапка новая -->
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item" href="https://bulma.io">
            <h1 class="title">FreeTask</h1>
          </a>

          <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>

        </div>

        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-start">
            <a href="{% url 'dashboard' %}" class="navbar-item">
              Доска
            </a>
            <a href="{% url 'task_list' %}" class="navbar-item">
              Задачи
            </a>
            <a href="{% url 'schedule' %}" class="navbar-item">
              Расписание
            </a>
            <a href="{% url 'statistics' %}" class="navbar-item">
              Статистика
            </a>
            <a href="{% url 'statistics' %}" class="navbar-item">
              
              <span class="icon-text">
                <span>Найти задачу</span>
                <span class="icon">
                  <ion-icon name="search-outline"></ion-icon>
                </span>                
              </span>

            </a>
          </div>

          <div class="navbar-end">
            <div class="navbar-item is-hoverable">
              <a class="navbar-link">                
                <strong>{{ request.user.username }}</strong>
              </a>

              <div class="navbar-dropdown">
                <a href="{% url 'profile' %}" class="navbar-item">
                  Профиль
                </a>
                <a href="{% url 'settings' %}" class="navbar-item">
                  Настройки
                </a>
                
                <hr class="navbar-divider">
                <div class="navbar-item">
                  <form method="post" action="{% url 'logout' %}">
                      {% csrf_token %}
                      <button type="submit" class="button">Выйти</button>
                  </form>
                </div>
              </div>
            </div>

            <div class="navbar-item">
              <figure class="image is-24x24">
                <img class="is-rounded" src="/media/{{ request.user.avatar }}" alt="Image" />
              </figure>
            </div> 
          </div>

        </div>
    </nav>
   
    <!-- Шапка старая -->
      <!-- <nav class="navbar is-light">
        
          <div class="navbar-brand">
            <a class="navbar-item" href="#">
              <h1 class="title">FreeTask</h1>
            </a>
          </div>

          <div class="navbar-start">
            <a href="{% url 'dashboard' %}" class="navbar-item">
              Доска
            </a>
            <a href="{% url 'task_list' %}" class="navbar-item">
              Задачи
            </a>
            <a href="{% url 'schedule' %}" class="navbar-item">
              Расписание
            </a>
            <a href="{% url 'statistics' %}" class="navbar-item">
              Статистика
            </a>
            <a href="{% url 'statistics' %}" class="navbar-item">
              
              <span class="icon-text">
                <span>Найти задачу</span>
                <span class="icon">
                  <ion-icon name="search-outline"></ion-icon>
                </span>                
              </span>

            </a>
          </div>
          
          <div class="navbar-end">
            <div class="navbar-item is-hoverable">
              <a class="navbar-link">                
                <strong>{{ request.user.username }}</strong>
              </a>

              <div class="navbar-dropdown">
                <a href="{% url 'profile' %}" class="navbar-item">
                  Профиль
                </a>
                <a href="{% url 'settings' %}" class="navbar-item">
                  Настройки
                </a>
                
                <hr class="navbar-divider">
                <div class="navbar-item">
                  <form method="post" action="{% url 'logout' %}">
                      {% csrf_token %}
                      <button type="submit" class="button">Выйти</button>
                  </form>
                </div>
              </div>
            </div>

            <div class="navbar-item">
              <figure class="image is-24x24">
                <img class="is-rounded" src="/media/{{ request.user.avatar }}" alt="Image" />
              </figure>
            </div> 
          </div>
        
      </nav>  -->
    

    <!-- Основное содержимое -->
    
        {% block content %}{% endblock %}
   

    <footer class="footer">
      <div class="content has-text-centered">
        <p>
          <strong>FreeTask</strong> by <a href="">Kukolschikov Egor</a>.
        </p>
      </div>
    </footer>  
</body>
</html>