{% extends 'users/base.html' %}

{% block title %}Дашборд{% endblock %}

{% block content %}
    <div class="container is-fluid ">

            <section class="hero is-link pt-6">
              <div class="hero-body">
                <p class="title">Доска new</p>
                <p class="subtitle">создать задачу</p>
              </div>
            </section>

            <nav class="level pt-6">
              <div class="level-item has-text-centered">
                <div>
                  <p class="heading">Всего задач</p>
                  <p class="title">{{ count_task }}</p>
                </div>
              </div>
              <div class="level-item has-text-centered">
                <div>
                  <p class="heading">Выполнено</p>
                  <p class="title">{{ end_task_count }}</p>
                </div>
              </div>
              <div class="level-item has-text-centered">
                <div>
                  <p class="heading">Подписок</p>
                  <p class="title">{{ following }}</p>
                </div>
              </div>
              <div class="level-item has-text-centered">
                <div>
                  <p class="heading">Подписчиков</p>
                  <p class="title">{{ followers }}</p>
                </div>
              </div>
            </nav> 

            <div class="columns is-fullheight">

                <div class="column ">
                    <h1 class="title">Новые</h1>
                    {% for task in last_tasks %}
                      <div class="box">
                        <a href="{% url 'task_list_child' task.id %}">{{ task.title }}</a>
                      </div>
                    {% endfor %}                    
                </div> 

                <div class="column">
                    <h1 class="title">Активные</h1>
                    {% for task in run_tasks %}
                      <div class="box">
                        <a href="{% url 'task_list_child' task.id %}">{{ task.title }}</a>
                      </div>
                  {% endfor %}                    
                </div>
                
                <div class="column ">
                  <h1 class="title">Забытые</h1>
                  {% for task in old_tasks %}
                      <div class="box">
                        <a href="{% url 'task_list_child' task.id %}">{{ task.title }}</a>
                      </div>
                  {% endfor %}
                </div>

                <div class="column ">
                  <h1 class="title">Выполненые</h1>
                  {% for task in end_task %}
                      <div class="box has-background-white-bis">
                        <a class="has-text-grey-light" href="{% url 'task_list_child' task.id %}">{{ task.title }}</a>
                      </div>
                  {% endfor %}
                </div>

            </div>
            

        </div>
{% endblock %} 
    

    
        
   