{% extends 'users/base.html' %}

{% block title %}Дашборд{% endblock %}

{% block content %}
    <div class="container is-fluid ">

            <section class="hero is-link pt-6">
              <div class="hero-body">
                <p class="title">Доска new</p>
                <p class="subtitle">создать задачу</p>
              </div>
            </section>

            <nav class="level pt-6">
              <div class="level-item has-text-centered">
                <div>
                  <p class="heading">Tweets</p>
                  <p class="title">3,456</p>
                </div>
              </div>
              <div class="level-item has-text-centered">
                <div>
                  <p class="heading">Following</p>
                  <p class="title">123</p>
                </div>
              </div>
              <div class="level-item has-text-centered">
                <div>
                  <p class="heading">Followers</p>
                  <p class="title">456K</p>
                </div>
              </div>
              <div class="level-item has-text-centered">
                <div>
                  <p class="heading">Likes</p>
                  <p class="title">789</p>
                </div>
              </div>
            </nav> 

            <div class="columns is-fullheight">

                <div class="column ">
                    <h1 class="title">Новые</h1>                    
                </div> 

                <div class="column">
                    <h1 class="title">Активные</h1>                    
                </div>
                
                <div class="column ">
                  <h1 class="title">Забытые</h1>
                </div>

            </div>
            

        </div>
{% endblock %} 
    

    
        
   